@media screen and (min-width:768px) and (max-width:991px) {
    body {
        margin-top:100px;
    }
    
    @media screen and (min-width:992px) and (max-width:1199px) {
      body {
        margin-top:50px;
      }
    }
    
    body{
      padding-top: 10%;
    }

@media (min-width: 768px){
    .news-input{
        width:50%;
    }
}

    
}
.a{
    padding-left: 5px;
}